{% extends "base.html" %}

{% block title %}Agregar participante - {{ proyecto.nombre }}{% endblock %}

{% block content %}

<section class="pagina-formulario">

    <div class="formulario-contenedor">

        <span class="etiqueta-seccion">PARTICIPACIÓN</span>

        <h1>Agregar participante</h1>
        <hr>
        <p class="texto-secundario">
            Agrega un nuevo participante al proyecto
            
            <div><strong>{{ proyecto.nombre }}</strong>.</div>
        </p>

        <form method="post" class="formulario">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="boton boton-principal">
                Agregar participante
            </button>

        </form>

        <p class="enlace-formulario">
            <a href="{% url 'detalle_proyecto' proyecto.id %}">
                Cancelar
            </a>
        </p>

    </div>

</section>

{% endblock %}